 <!DOCTYPE html>
<html>
<head>
<title>Ludums</title>
<style>
	
body {

	background-image: url(https://orig00.deviantart.net/76cd/f/2015/356/b/1/cs_go_wallpaper_2__black_and_white_swat__by_legitimatepotato-d9l39ij.png);
	background-size: 100%;
	margin-left: 5%;
	margin-right: 5%;
}

.clan img {

	height: 500px;
	width: 400px;
}

</style>
</head>
<body>

<h1 class="container">¡Bienvenido a ChampionLudum!</h1>
</div>


<div class="row">
	<div class="col-md-4 ">
		<div class="clan" class="thumnail">
		<img src="http://media.esports.eldesmarque.com/wp-content/uploads/2016/09/cs_go_artwork_1.jpg" alt="">
			
		</div>
	</div>

	<div class="col-md-4">
		<div class="clan" class="thumnail">
		<img src="https://static.esea.net/global/images/users/971492.1468275572.jpg" alt="">
			
		</div>
	</div>

	<div class="col-md-4">
		<div class="clan" class="thumnail">
		<img src="http://media.moddb.com/images/members/1/414/413573/profile/title-1200x520.png" alt="">
			
		</div>
	</div>
</div>





</body>
</html> 